<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Shelved</title>
    <link rel="icon" type="image/png" href="https://utfs.io/f/nB1xmZbE7IaT9K774WfgTHkYyrSOCV8PU1nAKIwRo3027ali" />
    <style>
    <%- include('static/css/main.css') %>
    <%- include('static/css/homepage.css') %>
    <%- include('static/css/media.css') %>
    .content h1 {
        text-align: center;
        padding-bottom: 20px;
        margin-top: 10px;
    }
    .content h2 {
        text-align: center;
    }
    </style>
</head>
<body>
    <%- include('navbar', { username }) %>

    <div class="main-content">
        <div class="hero">
            <h1>Shelved</h1>
            <p>Log all of your media, in one place</p>
        </div>

        <div class="content">
            <h1 style="text-align: left; font-size: 48px; margin: 20px;">Welcome, <span style="color: #8ecae6;"><%= username %></span>!</h1>

            <% Object.keys(trendingData).forEach(source => { %>
                <h2>Top 5 Trending <%= String(source).charAt(0).toUpperCase() + String(source).slice(1) %></h2>
                <div class="container">
                    <% trendingData[source].forEach(media => { %>
                        <%- include('components/media', {
                            media: media,
                            source: source,
                            showAddButton: true,
                            addButtonCallback: 'showShelfModal',
                            openMediaCallback: 'openMediaPage'
                        }) %>
                    <% }); %>
                </div>
            <% }); %>
        </div>

        <!-- Modal for selecting a shelf -->
        <div id="shelfModal" class="modal">
            <div class="modal-content">
                <h3>Select a Shelf</h3>
                <div id="shelfOptionsContainer">
                    <% shelves.forEach(shelf => { %>
                        <div class="shelf-option" onclick="addToShelf(selectedContentId, selectedSource, '<%= shelf.name %>', selectedMediaType)">
                            <%= shelf.name %>
                        </div>
                    <% }) %>
                </div>
                <div style="margin-top: 20px;">
                    <button class="cancel-btn" onclick="closeShelfModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    <%- include('static/js/homepage.js') %>
    <%- include('static/js/media.js') %>
    </script>
</body>
</html>

