<div 
    class="media-item" 
    onclick="<%= openMediaCallback %>('<%= media.id %>', '<%= source %>', '<%= media.media_type %>')"
    tabindex="0"
    role="button"
    aria-label="<%= media.name || media.title %>"
>    <% console.log(media); if (showAddButton) { %>
        <button class="add-button" onclick="<%= addButtonCallback %>('<%= media.id %>', '<%= source %>', '<%= media.media_type %>', event)">+</button>
    <% } %>
    <img src="<%= media.media_type === 'book' ? `https://covers.openlibrary.org/b/id/${media.poster_path}-M.jpg` : `https://image.tmdb.org/t/p/original${media.poster_path}`%>" alt="<%= media.name || media.title %> Poster" class="poster" />
    <div class="content">
        <p class="title"><%= media.title.length > 27 ? media.title.substring(0, 27) + '...' : media.title %></p>
        <% if (media.overview) { %>
            <p class="overview"><%= media.overview.length > 100 ? media.overview.substring(0, 120) + '...' : media.overview %></p>
        <% } else { %>
            <p class="overview">No overview available.</p>
        <% } %>
        <p class="rating">Rating: <%= media.vote_average ? media.vote_average.toFixed(1) : 'N/A' %>/<%= media.media_type === "book" ? 5 : 10 %></p>
    </div>
</div>
